<h1 class="text-syle">La liste des Demandes</h1>
<p class="text-center text-danger" *ngIf="messageError">{{messageError}}</p>
<p *ngIf="!demandes" class="text-info text-center">Aucune demande effectuer</p>
<div class="formulaire-container">
    <div class="button-add-input-search my-4 mx-3">
        <button class="button-add-user">
            <i class="bi bi-plus-circle icone-add-user" routerLink="/ajouter-demande"></i>
            <span class="titre-btn-add-user" routerLink="/ajouter-demande">Ajouter une demande</span>
        </button>
        <div>
          <form>
            <input type="text" class="input-search-admin" placeholder="filtrer par status ex: Approuver" maxlength="30">
            <button class="btn-search-admin">
                <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
    </div>
    <hr>
    <div class="div-table-data">
        <div class="card-demandes">
            <div class="cadre-image-et-contenu" *ngFor="let demande of demandes" [ngClass]="demande.statutDemande==='Approuver' ? 'approuver-style':'rejeter-style'">
                <img src="../../../../assets/imagejabbar.jpeg" class="img-fluid style-image">
                <div class="demande">
                    <p>Objet: {{demande.objet}}</p>
                    <p>Date d'envoi: {{demande.dateDemande  | date:'MM/d/yy' }}</p>
                    <p>Par: {{demande.etudiant.prenoms+ " " +demande.etudiant.nom}}</p>
                    <p>Statut: {{demande.statutDemande}}</p>
                    <button routerLink="/detail-demande/{{demande.id}}" *ngIf="demande.statutDemande==='EnCours'">Detail</button>
                    <!-- <button routerLink="/modifier-demande/{{demande.id}}" *ngIf="demande.statutDemande==='EnCours'">edit</button> -->
                    <button class="delete-btn" (click)="delete(demande.id)" *ngIf="demande.statutDemande==='Approuver'|| demande.statutDemande==='Desaprouver'">Suppimer</button>
                </div>
            </div>

        </div>
    </div>
</div>
