<app-menu></app-menu>
<main>
    <div class="formulaire-container">
        <h1 *ngIf="!demande" class="text-center text-syle">Ecrivez votre demande</h1>
        <h1 *ngIf="demande" class="text-center text-syle">Modifier votre demande</h1>
           <!-- {{this.saveDemande.value | json}} -->
        <div *ngIf="errorMessage">
            <p class="text-center text-danger">{{errorMessage}}</p>
        </div>
        <div class="fom-container">
            <form [formGroup]="saveDemande" (ngSubmit)="save()">
                <div class="div-champ-input">
                    <div class="input-demande">
                        <label class="titre-inpute" for="objet">Objet de votre demande</label>
                        <input type="text" formControlName="objet" class="champ-input" id="objet" maxlength="200" required>
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['objet'].touched
                            && saveDemande.controls['objet'].errors
                            && saveDemande.controls['objet'].errors['required']">
                            L'objet de la demande est obligatoire
                        </span>
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['objet'].touched
                            && saveDemande.controls['objet'].errors
                            && saveDemande.controls['objet'].errors['minlength']">
                            L'objet doit avoir au minumum 2 caracteres
                        </span>
                    </div>
                </div>
                <div class="div-champ-input">
                    <div class="test">
                        <label class="titre-inpute" for="departementDTO">Votre demande est destiner pour quel departement ?</label>
                        <select class="champ-input" formControlName="departement" id="departementDTO" required>
                            <option>Selection le departement</option>
                            <option *ngIf="demande" [hidden]="true" [ngValue]="demande" [selected]="demande">{{demande.departement.nomDepartement}}</option>
                            <option *ngFor="let departement of departements" [ngValue]="departement">{{departement.nomDepartement}}</option>
                        </select>
                        <span class="text-danger" 
                          *ngIf="saveDemande.controls['departement'].touched
                          && saveDemande.controls['departement'].errors
                          && saveDemande.controls['departement'].errors['required']">
                          Le departement est obligatoire
                        </span>
                      </div>
                    <div class="test">
                        <label class="titre-inpute" for="prenom">Votre adresse email</label>
                        <input type="text" formControlName="telephone" class="champ-input" id="prenom" required maxlength="200">
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['telephone'].touched
                            && saveDemande.controls['telephone'].errors
                            && saveDemande.controls['telephone'].errors['required']">
                            L'adresse email est obligatoire
                        </span>
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['telephone'].touched
                            && saveDemande.controls['telephone'].errors
                            && saveDemande.controls['telephone'].errors['email']">
                            L'adresse doit etre de type email
                        </span>
                    </div>
                </div>
                <div class="div-champ-input">
                    <div class="input-demande">
                        <label class="titre-inpute" for="contenu">Le contenu de votre demande</label>
                        <textarea formControlName="contenu" class="champ-input text-demande" id="contenu" maxlength="3000" required></textarea>
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['contenu'].touched
                            && saveDemande.controls['contenu'].errors
                            && saveDemande.controls['contenu'].errors['required']">
                            Le contenu de la demande est obligatoire
                        </span>
                        <span class="text-danger" 
                            *ngIf="saveDemande.controls['contenu'].touched
                            && saveDemande.controls['contenu'].errors
                            && saveDemande.controls['contenu'].errors['minlength']">
                            Le contenu doit avoir au minumum 2 caracteres
                        </span>
                    </div>
                </div>
                <div class="style-btn-envoyer my-2">
                    <button [disabled]="saveDemande.invalid" class="save-btn">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</main>