<h1 class="text-syle">Accueil</h1>
<!-- <p class="text-center text-danger" *ngIf="messageError">{{messageError}}</p> -->
<div class="formulaire-container">
    <div class="case-statistique-demande">
        <div class="case-statistique card">
            <h3>{{demandeEncours}}</h3>
            <h3>Demandes en cours</h3>
        </div>
        <div class="case-statistique card">
            <h3>{{demandeDesaprouver}}</h3>
            <h3>Demandes désapprouvées</h3>
        </div>
        <div class="case-statistique card">
            <h3>{{demandeApprouver}}</h3>
            <h3>Demande approuvées</h3>
        </div>
        <div class="case-statistique card">
            <h3>{{demandeTotal}}</h3>
            <h3>Demandes aux Totales</h3>
        </div>
    </div>
    <hr>
    <div class="statistique-div my-2">
        <div class="div-canneva-statistique">
            <canvas id="chart1">
        
            </canvas>
        </div>
        <div class="div-canneva-statistique">
            <canvas id="chart2">
    
            </canvas>
        </div>
    </div>
</div>
