<div class="sidbar-style" [ngClass]="{'app-sideNav-open':sideNavStatus}">
    <ul class="nav-list mt-4"[ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Dashboard</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a routerLink="/addUser">Gestion des utilisateurs</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des profils</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des departements</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des etudiants</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des demandes</a></span>
        </li>
    </ul>
</div>
<div class="display-area p-3" [ngClass]="{'display-aray-reduit':sideNavStatus}">
    <router-outlet>
      
    </router-outlet>
</div>