<div class="sidbar-style">
    <ul class="nav-list mt-4">
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Dashboard</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a routerLink="/addUser">Gestion des utilisateurs</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des profils</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des departements</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des etudiants</a></span>
        </li>
        <li class="nav-list-item">
            <i class="bi bi-speedometer style-icone mx-3"></i>
            <span><a>Gestion des demandes</a></span>
        </li>
    </ul>
</div>