<h1>Detail de la demande</h1>
<div class="formulaire-container" *ngIf="demande">
    <h4 class="text-center">Objet de la demande:{{demande.objet}}</h4>
    <hr>
    <p>{{demande.contenu}}</p>
    <h5>Envoyer par : <span>{{demande.etudiant.prenoms+ " "+ demande.etudiant.nom}}</span></h5>
    <div class="button-traiment-demande my-2 mx-2">
        <button class="retour mx-2" routerLink="/liste-demandes">Retour</button>
        <button class="valider mx-2" (click)="valider()">Valider</button>
        <button class="rejeter mx-2" (click)="rejeter()">Rejeter</button>
    </div>
</div>
