.formulaire-container{
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* display: flex; */
    /* height: 720px; */
}
.button-traiment-demande{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    color: #FFF;
}
.retour{
    background: #326799;
}
.valider{
    background:#869759;
}
.rejeter{
    background: #ce0033;
}