<nav class="navbar-style">
    <div class="log-and-togle-div">
        <!-- <img src="../../../assets/udblogo.jpeg" class="logo" alt="logo udb"> -->
        <div class="section-togle btn" (click)="navbarTogle()">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <div class="section-profile-user btn" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle"></i>
    </div>
    <ul class="dropdown-menu">
        <li class="text-center px-1">{{loginService.getUser().prenoms+" "+loginService.getUser().nom}}</li>
        <li class="reglage-style"><i class="bi bi-gear-fill"></i></li>
        <li class="reglage-style" (click)="deconnexion()"><i class="bi bi-box-arrow-right style-icone"></i></li>
    </ul>
</nav>

