@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.btn-danger{
    background: #326699;
    border-color:#fff;
}
.logo{
    display: flex;
    height: 40px;
    width: 250px;
    margin-left: 5%;
}
.dropdown-toggle::after{
    /* background: #CE0033 !important; */
    color: #CE0033;
}

.mon-navbar{
    /* margin-top: 5px; */
    background: #ffff;
    box-shadow: 1px 1px 1px rgb(252, 248, 248);
    /* cette propriete permet de faire en cas si le contenu de la page masque le menu etant donner que le menu es fixe voir le cidessu */
    z-index: 99;
}
.mon-navbar .navlinkaccueil{
    border-bottom: #CE0033 solid;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.nav-link{
    border-bottom: transparent solid;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.mon-navbar .nav-link:hover{
    padding-bottom: 25px;
    border-bottom-color:#CE0033;
}
.btn-contact{
    font-style: normal;
    margin-top: 2%;
    margin-bottom: 1%;
}

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.5)),url('../../../assets/mentor.jpeg') center center fixed
    no-repeat;
    background-size: cover;
    height: 850px;
}

.banner-decouvertes{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.5)),url('../../../assets/mentor.jpeg') center center
    no-repeat;
    background-size: cover;
    height: 600px;
}
/*Les css du certification*/
.container-mot-president{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.picture-president{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(58, 57, 57, 0.5)),url('../../../assets/presi.png') center center
    no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
    height: 500px;
    background-color: #326699;
    border-radius: 10px;
}
.mot-president{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 1rem;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
}
h3{
    font-size: 1.7rem;
    color: #326699;
    text-align: center;
}
.container-accroche-president{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #326699;
    margin: 1rem;
    
}
/*Fin css du certification*/

 /* Fin div actualite div date */











/* Mon propre media query */
@media only screen and (min-width:320px) and (max-width:1025px){
    .nos-chiffre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }
    .banner-footer{
        height: auto;
    }
    .icone-r-s{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-around;
    }
    .envoi-input , .btn-joindre{
        height: auto;
        width: auto;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 5px;
    }
    .envoi{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .slide{
        margin-top: auto;
    }
    .slide1 , .slide3{
        /* margin-left: auto;
        margin-right: auto; */
        margin-top: 70px;
    }
    .titre-banner{
        font-size: 50px;
    }
    .titre-simplon-senegal{
        font-size: 30px;
    }
    .sectionImage{
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 20px;
    }
    .pied-bas{
        font-size: 15px;
        /* margin-bottom: 5px; */
        height: auto;
        font-size: 11px;
        line-height: 8pxpx;
    }
    .sout-section-simplon{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #000000; 
    }
    .event1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 5px;
    }
    .phot-description-formateur{
        flex-direction: column;
    }
    .photo-formateur{
        margin-left: -0;
        margin-top: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    .nom{
        margin-left: 24.87%;
        margin-right: 59.41%;
        margin-top: 39.48%;
        margin-bottom: 60.27%;
    }
    .case-photo-formateur{
        Width:298px;
        Height:497px;
        /* width: 82%; */
        margin-left:4.47%;
        margin-right: 4.47%;

    }
    .contenu-formateur{
        margin-top: 0;
        margin-bottom: 20%;
        height: auto;
    }
    .voir-plus-div{
        margin-left: 75%;
        Width :90px;
        Height :30px;
        margin-top: -60px;
    }
    .photo-formateur{
        width: 226px;
        height: 240px;
        /* background: #CE0033; */
        margin-left: -18px;
        margin-top: -35px;
        border-radius: 15px;
        /* border-radius: 100%; */
        height: 226px;
    }
    .titre{
        margin-left: 0;
    }
    .line-arret{
        margin-left: 85%;
        margin-bottom: -30px;
        height: 75px;
        width: 6px;
        background: #CE0033;
    }
    .case-photo-formateur{
        width: auto;
    }

    .contenu-story{
        height: auto;
        width: auto;
    }
    .image-and-name{
        margin-top: -1rem;
    }
    .cercle-bas, .cercle-haut,.souligne-titre {
        display: none;  
    }

    .champ-nom , .message-text{
        height: auto;
        width: auto;
       
    }
    .div-champ{
        flex-direction: column;
    }

    .dispositif{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .formulaire , .contact{
        /* margin-bottom: 3rem; */
        justify-content: center;
        height: auto;
        width: auto;
        margin-left: 0;
    }
    .champ-nom , .message-text {
        width: 100%;
    }
    .icone-and-contenu{
        justify-content: center;
    }
    .icone-and-contenu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenu-contact{
        justify-content: center;
        align-items: center;
    }

    .text-apprenat, .contenu-apprenant{
        width: auto;
        height: auto;
    }

    .apprenant-row{
        flex-direction: column;
    }
    video{
        height: 100%;
        width: 100%;
    }
    .aprena {
        /* display: none; */
        margin-left: 0.099rem;
        margin-bottom: -3rem;
    }
    .aprena-peda{
        margin-bottom: -3rem;
    }
    .apprenant-row1{
        flex-direction: column-reverse;
    }
    .video-pedad{
        height: 100%;
        width: 100%;
    }
    .pedagogie-col{
        margin-left: 0;
    }

    .log-footer{
        margin-left: 0;
    }

    .copyright{
        margin: 0;
        display: flex;
        /* flex-direction: column; */
    }
    .img-footer {
        margin-left: 3.5rem;
    }

    .date-div{
        margin-left:12rem ;
    }
    .case-ptite-story{
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .icone-message{
        margin-top: 1rem;
    }
    .img-footer {
        margin-left: 1rem;
    }

    /*Certification media query*/
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
    h3{
        /* font-size: 1.7rem; */
        color: #326699;
        text-align: center;
    }

}