<main>
    <!-- Section 1 de la page accueil -->
    <section class="banner pt-5 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 pt-5">
                    <h2 class="titre-banner">Simplon<br/>
                        reseau de Fabrique <br/>
                        numerique et inclusives
                    </h2>
                    <p class="sous-titre-banner">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Nesciunt. <br/>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Nesciunt, modi tenetur adipisci.  
                    </p>
                    <button class="monstylebtn btn btn-danger">Nous contacter</button>
                </div>
                <div class="col-md-6">
        
                </div>
            </div>
            <div class="slide">
                <button class="slide1"></button>
                <button class="slide1"></button>
                <button class="slide3"></button>
            </div>
        </div>
    </section>
    <!-- Fin section 1 -->
</main>
