main{
    position: absolute;
    width: 100%;
    top: 5rem;
    z-index: 1;
}
.app-sidbar{
    position: absolute;
    left: 0rem;
    width: 250px;
    border:1px solid black;
    background: red;
    color: red;
}
