main{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 4rem;
    z-index: 1;
    background: red;
}
.display-content{
    display: flex;
    /* left:18.5rem; */
    width: calc(100% - 18rem);
}