<div class="sidbar-style" [ngClass]="{'app-sideNav-open':sideNavStatus}">
  <ul class="nav-list mt-4"[ngClass]="{'nav-list-open':sideNavStatus}">
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/accueil" class="bi bi-speedometer style-icone mx-3"></i>
      <span><a routerLink="/administration/accueil">Accueil</a></span>
    </li>
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/listeUser" class="bi bi-people-fill style-icone mx-3"></i>
      <span><a routerLink="/administration/listeUser">Gestion des utilisateurs</a></span>
    </li>
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/liste-profiles" class="bi bi-person-fill style-icone mx-3"></i>
      <span><a routerLink="/administration/liste-profiles">Gestion des profils</a></span>
    </li>
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/liste-departement" class="bi bi-shop-window style-icone mx-3"></i>
      <span><a routerLink="/administration/liste-departement">Gestion des departements</a></span>
    </li>
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/liste-etudiants" class="bi bi-mortarboard-fill style-icone mx-3"></i>
      <span><a routerLink="/administration/liste-etudiants">Gestion des etudiants</a></span>
    </li>
    <li class="nav-list-item" *ngIf="loginService.getUserRole()==='Administrateur'">
      <i routerLink="/administration/liste-demandes" class="bi bi-pencil-square style-icone mx-3"></i>
      <span><a routerLink="/administration/liste-demandes">Gestion des demandes</a></span>
    </li>
  </ul>
</div>

<div class="display-area p-3" [ngClass]="{'display-aray-reduit':sideNavStatus}">

    <!-- Affichage des gestion des toutes les modules -->
    <router-outlet>

    </router-outlet>

    <!-- Affichage du footer  -->
    <!-- <app-footer></app-footer> -->
</div>

