<div class="formulaire-container">
    <h1 class="text-center text-syle">Creer un compte</h1>
    <div class="fom-container">
        <form>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="nom">Nom</label>
                    <input type="text" class="champ-input" id="nom">
                </div>
                <div class="test">
                    <label class="titre-inpute" for="prenom">Prenom</label>
                    <input type="text" class="champ-input" id="prenom">
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="nom">Date de naissance</label>
                    <input type="date" class="champ-input" id="nom">
                </div>
                <div class="test">
                    <label class="titre-inpute" for="prenom">Adresse email</label>
                    <input type="text" class="champ-input" id="prenom">
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="nom">Telephone</label>
                    <input type="text" class="champ-input" id="nom">
                </div>
                <div class="test">
                    <label class="titre-inpute" for="prenom">Poste occupe</label>
                    <input type="text" class="champ-input" id="prenom">
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="nom">Selectionner un profile</label>
                    <select class="champ-input">
                        <option></option>
                    </select>
                </div>
                <div class="test">
                    <label class="titre-inpute" for="nom">Selectionner un departement</label>
                    <select class="champ-input">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="prenom">Nom d'utilisateur</label>
                    <input type="text" class="champ-input" id="nom">
                </div>
                <div class="test">
                    <label class="titre-inpute" for="prenom">Mot de passe</label>
                    <input type="text" class="champ-input" id="prenom">
                </div>
            </div>
            <div class="style-btn-envoyer my-2">
                <button class="save-btn">Enregistrer</button>
            </div>
        </form>
    </div>

</div>
