<div class="formulaire-container">
    <h1 *ngIf="!data" class="text-center text-syle">Creer un etudiant</h1>
    <h1 *ngIf="data" class="text-center text-syle">Modifier un etudiant</h1>
<!--    {{this.saveAdministrateur.value | json}}-->
    <div *ngIf="errorMessage">
        <p class="text-center text-danger">{{errorMessage}}</p>
    </div>
    <div class="fom-container">
        <form [formGroup]="saveEtudiant" (ngSubmit)="save()">
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="nom">Nom</label>
                    <input type="text" formControlName="nom" class="champ-input" id="nom" maxlength="60" required>
                    <span class="text-danger" 
                        *ngIf="saveEtudiant.controls['nom'].touched
                        && saveEtudiant.controls['nom'].errors
                        && saveEtudiant.controls['nom'].errors['required']">
                        Le nom de l'etudiant est obligatoire
                    </span>
                    <span class="text-danger" 
                        *ngIf="saveEtudiant.controls['nom'].touched
                        && saveEtudiant.controls['nom'].errors
                        && saveEtudiant.controls['nom'].errors['minlength']">
                        Le nom doit avoir au minumum 2 caracteres
                    </span>
                </div>
                <div class="test">
                    <label class="titre-inpute" for="prenom">Prenom</label>
                    <input type="text" formControlName="prenoms" class="champ-input" id="prenom" required>
                    <span class="text-danger" 
                        *ngIf="saveEtudiant.controls['prenoms'].touched
                        && saveEtudiant.controls['prenoms'].errors
                        && saveEtudiant.controls['prenoms'].errors['required']">
                        Le prenoms de l'etudiant est obligatoire
                    </span>
                    <span class="text-danger" 
                        *ngIf="saveEtudiant.controls['prenoms'].touched
                        && saveEtudiant.controls['prenoms'].errors
                        && saveEtudiant.controls['prenoms'].errors['minlength']">
                        Le prenoms doit avoir au minumum 2 caracteres
                    </span>
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="dateNaissance">Date de naissance</label>
                    <input type="date" formControlName="dateNaissance" class="champ-input" id="dateNaissance" required>
                    <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['dateNaissance'].touched
                    && saveEtudiant.controls['dateNaissance'].errors
                    && saveEtudiant.controls['dateNaissance'].errors['required']">
                    La date de naissance est obligatoire
                </span>
                </div>
                <div class="test">
                    <label class="titre-inpute" for="email">Adresse email</label>
                    <input type="text" formControlName="email" class="champ-input" id="email" required>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['email'].touched
                    && saveEtudiant.controls['email'].errors
                    && saveEtudiant.controls['email'].errors['required']">
                    L'adreese email de l'etudiant est obligatoire
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['email'].touched
                    && saveEtudiant.controls['email'].errors
                    && saveEtudiant.controls['email'].errors['email']">
                    Le champ doit etre de type email
                </span>
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="telephone">Telephone</label>
                    <input type="text" formControlName="telephone" class="champ-input" id="telephone" maxlength="15" required>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['telephone'].touched
                    && saveEtudiant.controls['telephone'].errors
                    && saveEtudiant.controls['telephone'].errors['required']">
                    Le numero de telephone de l'etudiant est obligatoire
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['telephone'].touched
                    && saveEtudiant.controls['telephone'].errors
                    && saveEtudiant.controls['telephone'].errors['minlength']">
                    Le numero est insuffisant
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['telephone'].touched
                    && saveEtudiant.controls['telephone'].errors
                    && saveEtudiant.controls['telephone'].errors['pattern']">
                    Seul les chiffres sont autorises
                </span>
                </div>
                <div class="test">
                    <label class="titre-inpute" for="matricule">Matricule</label>
                    <input type="text" class="champ-input" formControlName="matricule" id="matricule" required>
                    <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['matricule'].touched
                    && saveEtudiant.controls['matricule'].errors
                    && saveEtudiant.controls['matricule'].errors['required']">
                    Le matricule de l'etudiant est obligatoire
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['matricule'].touched
                    && saveEtudiant.controls['matricule'].errors
                    && saveEtudiant.controls['matricule'].errors['minlength']">
                    Le matricule doit avoir au minumum 5 caracteres
                </span>
                </div>
            </div>
            <div class="div-champ-input">
                <div class="test">
                  <label class="titre-inpute" for="departementDTO">Filiere</label>
                  <select class="champ-input" formControlName="filiereDTO" id="departementDTO" required>
                      <option>Selection le departement</option>
                      <option *ngIf="data" [hidden]="true" [ngValue]="data.filiereDTO" [selected]="data.filiereDTO.libelle">{{data.filiereDTO.libelle}}</option>
                      <option *ngFor="let filiere of filieres" [ngValue]="filiere">{{filiere.libelle}}</option>
                  </select>
                  <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['filiereDTO'].touched
                    && saveEtudiant.controls['filiereDTO'].errors
                    && saveEtudiant.controls['filiereDTO'].errors['required']">
                    La filiere de l'etudiant est obligatoire
                  </span>
                </div>
                <div class="test">
                  <label class="titre-inpute" for="profileDTO">Niveau d'etude</label>
                  <select class="champ-input" id="profileDTO" formControlName="niveauEtude" required>
                      <option value="PremierCycle">Premier cycle</option>
                      <option value="DeuxiemeCycle">deuxieme cycle cycle</option>
                      <option value="TroisiemeCyle">Troisieme cycle cycle</option>
                      <option value="Autre">Autre</option>
                  </select>
                  <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['niveauEtude'].touched
                    && saveEtudiant.controls['niveauEtude'].errors
                    && saveEtudiant.controls['niveauEtude'].errors['required']">
                    La niveau de l'etudiant est obligatoire
                  </span>
                </div>
            </div>
            <div class="div-champ-input">
              <div class="test">
                  <label class="titre-inpute" for="username">Nom d'utilisateur</label>
                  <input type="text" formControlName="username" class="champ-input" id="username" maxlength="50" required>
                <span class="text-danger" 
                  *ngIf="saveEtudiant.controls['username'].touched
                  && saveEtudiant.controls['username'].errors
                  && saveEtudiant.controls['username'].errors['required']">
                  Le username de l'etudiant est obligatoire
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['username'].touched
                    && saveEtudiant.controls['username'].errors
                    && saveEtudiant.controls['username'].errors['minlength']">
                    Le username doit avoir au minumum 5 caracteres
                </span>
              </div>
              <div class="test">
                  <label class="titre-inpute" for="password">Mot de passe</label>
                  <input type="password" formControlName="password" class="champ-input" id="password" maxlength="50" required>
                <span class="text-danger" 
                  *ngIf="saveEtudiant.controls['password'].touched
                  && saveEtudiant.controls['password'].errors
                  && saveEtudiant.controls['password'].errors['required']">
                  Le password de l'etudiant est obligatoire
                </span>
                <span class="text-danger" 
                    *ngIf="saveEtudiant.controls['password'].touched
                    && saveEtudiant.controls['password'].errors
                    && saveEtudiant.controls['password'].errors['minlength']">
                    Le password doit avoir au minumum 5 caracteres
                </span>
              </div>
            </div>
            <!-- <div class="div-champ-input">
                <div class="test">
                    <label class="titre-inpute" for="email">Photo</label>
                    <input type="text" formControlName="email" class="champ-input" id="email">
                </div>
            </div> -->
            <div class="style-btn-envoyer my-2">
                <button [disabled]="saveEtudiant.invalid" class="save-btn">Enregistrer</button>
            </div>
        </form>
    </div>

</div>
